langchain
openai
python-dotenv
pinecone-client
sentence-transformers
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
peewee
psycopg2-binary
passlib
bcrypt